a {
    color: black !important;
}

.logo {
    font-family: 'Grand Hotel', cursive;
}

.login-card {
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
}

.login {
    padding: 30px;
    margin-top: 100px !important;
}

/* label underline focus color */
.input-field input[class=form]:focus {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item {
    width: 30%;
    margin-bottom: 10px;
}


.home-card {
    max-width: 500px;
    height: max-content;
    margin: 26px auto;

}

.collection-item {
    width: 100%;
}


#toast-container {
    top: 30px !important;
    right: 20px !important;
    left: auto !important;
}


.material-icons:hover {
    cursor: pointer;
}